tournament-match-card {
  background-color: #202020;
  border: 3px solid #c6c6c6;
  margin: 10px;
}

tournament-match-card button.btn {
  background-color: white !important;
  border: 1px solid black;
  color: black !important;
}

tournament-match-card button.btn:hover,
tournament-match-card button.btn:active {
  background-color: black !important;
  border: 1px solid white;
  color: white !important;
}
