login-page img {
  max-width: 512px;
}

login-page h1 {
  font-family: 'Lobster', sans-serif;
  font-size: 15em;
  font-weight: 400;
  color: white;
}

#login-subtitle {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 1.75em;
}

#login-title {
  color: white;
  font-family: 'Lobster', sans-serif;
  font-size: 2.5em;
}

.login-bnt {
  margin-top: 70px;
}

.login-bnt a {
  font-family: Inter, sans-serif;
}
